.calculator {
    height: 480px;
    width: 480px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: purple;
}

.display {
    width: 300px;
    height: 100px;
    border: 2px solid black;
    font-size: 75px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    margin: 25px;
    background-color: gray;
}

button {
    height: 60px;
    width: 60px;
    font-size: 30px;
}

.reset button {
    width: 120px;
}

.firstRow,
.secondRow,
.thirdRow,
.reset {
    display: flex;
    gap: 10px;
    width: 480px;
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
}