.calculator {
    height: 320px;
    width: 480px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.display {
    width: 300px;
    height: 100px;
    border: 2px solid black;
    font-size: 75px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    margin: 25px;
}

button {
    height: 60px;
    width: 60px;
}

.firstRow {
    display: flex;
    border: 2px solid black;
    gap: 10px;
    width: 480px;
    justify-content: center;
}

.screen {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 480px;
}