.calculator {
    height: 320px;
    width: 480px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.display {
    width: 300px;
    height: 100px;
}

button {
    height: 60px;
    width: 60px;
}